<!-- views/index.ejs -->
<html>
<head>
    <title>Healthy Bizzy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa"></span>Healthy Bizzy</h1>
        <p>Step 2 - Authorize your app in Cerner demo app</p>
        <a href="https://quick.1up.health/connect/<%= appid %>?access_token=<%= access_token %>&state=test&bg=e9ecef" class="btn btn-danger">
        <span class="fa"></span> Healthy Bizzy Authorization for <%= email %> </a>
    </div>
</div>

</body>
</html> 