<!-- views/patient.ejs -->
<!doctype html>
<html>
<head>
    <title>Healthy Bizzy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-primary  text-center"><span class="fa"></span>Healthy Bizzy</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="well">
                <p>
                  <strong>Step 4 - Click on link to return patient everything</strong><br>
                  <a href="/getPatientEverything/<%= patientid %>"  class="btn btn-danger"><span class="fa"></span>
                    Patient Everything</a>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>