<!-- views/patientEverything.ejs -->
<!doctype html>
<html>
<head>
    <title>Healthy Bizzy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
        div.row div {width:100%; padding-bottom:10px;}
        ul {padding-bottom:20px;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-primary  text-center"><span class="fa"></span>Healthy Bizzy</h1>
          <div class="row">
                <p>
                  <strong>Final Step - Patient Everything for first patient id</strong>:<br>
                  <%= data.resourceType %><br>
                  <%= data.type %><br>
                  <%= data.searchset %><br>
                  <%= data.total %>
                </div>
                    <% data.entry.forEach(function(item) {%>
                    <div class="row"><ul class="list-group">
                        <strong>Resource - </strong><br>
                        <li class="list-group-item">FullURL: <%= item.fullUrl %></li>
                        <li class="list-group-item">Search Mode: <%= item.search.mode %></li>
                        <li class="list-group-item">Identifier System: <%= item.resource.identifier.system %></li>
                        <li class="list-group-item">Identifier Value: <%= item.resource.identifier.value %></li>
                        <li class="list-group-item">Recorded Date:<%= item.resource.recordedDate %></li>
                        <li class="list-group-item">Criticality<%= item.resource.criticality %></li>
                        <li class="list-group-item">Onset: <%= item.resource.onset %></li>
                        <li class="list-group-item">Type: <%= item.resource.type %></li>
                        <li class="list-group-item">Meta LastUpdated: <%= item.resource.meta.lastUpdated %></li>
                        <li class="list-group-item">Patient Reference: <%= item.resource.patient.reference %></li>
                        <li class="list-group-item">Resource ID: <%= item.resource.id %></li>
                        <li class="list-group-item">Resource Text: <%- JSON.stringify(item.resource.text) %></li>
                        <li class="list-group-item">Category: <%= item.category %></li>
                        <li class="list-group-item">ResourceType: <%= item.resourceType %></li>
                        <li class="list-group-item">Status: <%= item.status %></li>
                        
                            <% if (typeof item.resource.reaction!='undefined') { %>
                                <li class="list-group-item">
                                    <% if (typeof item.resource.text!='undefined') { %>
                                        Reaction Text: <%- JSON.stringify(item.resource.text) %> 
                                    <% } %>
                                </li>
                            <% } %>
                       
                            <% if (typeof item.resource.recorder!='undefined') { %>
                                <li class="list-group-item">Recorder Reference: <%= typeof item.resource.recorder.reference!='undefined' ? item.resource.recorder.reference : ''%></li>
                                <li class="list-group-item">Recorder Display: <%= typeof item.resource.recorder.display!='undefined' ? item.resource.recorder.display : ''%></li>
                            <% } %>

                        
                            <% if (typeof item.resource.coding!='undefined') { %>
                                <li class="list-group-item">Coding System: <%= typeof item.resource.coding.system!='undefined' ? item.resource.coding.system  : ''%></li>
                                <li class="list-group-item">Coding Code: <%= typeof item.resource.coding.code!='undefined' ? item.resource.coding.code  : ''%></li>
                                <li class="list-group-item">User Selected: <%= typeof item.resource.coding.userSelected!='undefined' ? item.resource.coding.userSelected  : ''%></li>
                                <li class="list-group-item">Coding Display: <%= typeof item.resource.coding.display!='undefined' ? item.resource.coding.display  : ''%></li>
                            <% } %>

                            <% if (typeof item.resource.substance!='undefined') { %>
                                <li class="list-group-item">Substance Text:<%= typeof item.resource.substance.text!='undefined' ? item.resource.substance.text : '' %></li>
                            <% } %>


                    </ul>
                    </div>
                    <%});%>
                    <BR>
                    <% if (typeof data.link!='undefined') { %>
                        <strong>Link:</strong><br>
                        <% data.link.forEach(function(item) {%>                    
                            <%= JSON.stringify(item) %>
                        <%});%>
                    <% } %>
                </p>
        </div>
      </div>
    </div>
  </body>
</html>